@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

.recover-container {
    width: 100%; 
   max-width: 1120px; 
   height: 100vh; 
   margin: 0 auto; 
   
   display: flex; 
   align-items: center; 
   justify-content: center; 
} 
   
.recover-container .content { 
    width: 100%;
    padding: 90px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 

    display: flex;
    justify-content: space-between; 
    align-items: center;
}


.recover-container .content section{
    width: 100%;
    max-width: 380px;
}

.recover-container .content section h1{
    margin: 64px 0 32px;
    font-size: 30px;
}

.recover-container .content form {
    width: 100%;
    max-width: 450px;
    font: 400 18px Roboto, sans-serif;
}

.recover-container .content form input{
    margin-top: 8px;
}

.recover-container .content form p {
    margin-top: 8px;
    text-align: center;
}